*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    color: white;
    font-weight: 600;
}

main{
    padding: 70px;
}

/* HEADER */


header{
    background-color: rgb(255, 105, 0);
    width: 100%;
    padding: 30px;
 }


.container{
    max-width: 1100px;
    margin: 0 auto;
    background-color: rgb(255, 105, 0);
}

.row-orange{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-orange{
    width: calc(100% /3 - 20px);
    text-align: center;
}

#logo-boo{
    width: 150px;
}

/* col left header */

#row-left{
    display: flex;
    justify-content: flex-start;
}

.col-left{
    width: calc(70% /3 - 20px);
    text-align: center;
}

/* col left header */

#row-right{
    display: flex;
    justify-content: flex-end;
}

.col-right{
    width: calc(50% /3 - 20px);
    text-align: center;
}


/* END HEADER */


/* MAIN */

.cont-man{
    max-width: 1100px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.model{
    width: 345px;
}

.content{
    margin-top: 60px;
    margin-right: 20px;
    position: relative;
}

.discount{
    background-color: red;
    width: 55px;
    padding: 5px;
    height: 26px;
    bottom: 92px;
    left: 0px;
    position: absolute;
    text-align: center;
    font-size: 15px;
}

.sosten{
    background-color: green;
    width: 114px;
    padding: 5px;
    height: 26px;
    bottom: 92px;
    left: 60px;
    position: absolute;
    text-align: center;
    font-size: 15px;
}

.sosteni{
    background-color: green;
    width: 114px;
    padding: 5px;
    height: 26px;
    bottom: 92px;
    left: 0px;
    position: absolute;
    text-align: center;
    font-size: 15px;
}
.heart{
    background-color: white;
    width: 29px;
    padding: 5px;
    height: 26px;
    top: 10px;
    right: 1px;
    position: absolute;
    text-align: center;
    font-size: 15px;
}





p{
    color: black;
    font-weight: 100;
}

.big{
    font-size: 18px;
    font-weight: 600;
}

.red{
    color: red;
    font-weight: 600;
}

.del{
    color: black;
    text-decoration: line-through;
}


/* END MAIN */


footer{
    background-color: rgb(26, 26, 26);
    width: 100%;
    padding: 30px;
 }


.container-foot{
    max-width: 1100px;
    margin: 0 auto;
    background-color: rgb(26, 26, 26);
}

.row-foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-foot{
    width: 50%;
}

.leftf{
    align-self: flex-end;
    width:21%;
}

#row-left-foot{
    display: flex;
    justify-content: flex-start;
}

.col-left-foot{
    font-size: 15px;
    font-weight: 100;
    margin-right: 10px;
}

/* col left header */

#row-right-foot{
    display: flex;
    justify-content: flex-end;
}

.col-right-foot{
    width: 100%;
    text-align: center;
    margin: 10px;
    margin-top: 10px;
}


/* FOOTER */

